/* styles.css */

/* Resetting default margin and padding */
p{
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: black;
    background-image: url("back.jpg");

}

header {
    background-color: #b9b2a7e9;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0.9;
}
h1 {
    color: black;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    color: black;
}



nav ul li a:hover {
    color: #000000;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    opacity: 0.7;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

section:hover {
    background-color: #ffffffbd;
    transition: 0.5s ease; 
}

h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    margin-bottom: 20px;
}

ul li {
    list-style-type: none;
    padding-left: 20px;
    position: relative;
}

ul li:before {
    content: "\2022";
    color: #333;
    position: absolute;
    left: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    clear: both;
    border-top: 2px solid #000000;
}

footer p {
    margin: 0;
    color: white;
}

/* Responsive Design */

@media screen and (max-width: 768px) {
    header {
        padding: 15px;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #736d62e9;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
button:hover {
    background-color: #b1a999e9;
  }
  
